body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
}

header {
    display: block;
    background-color: #03030B;
    width: 100vw;
    text-align: center;
    padding: 20px;
}

#logo {
    height: auto;
    max-width: 450px;
}

.navigation {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
}

.cta-button {
    background-color: #333;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #03030B;
    padding: 10px;
}

.nav-links a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 8px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}