:root {
  --clr-primary: #03030B;
}

html, body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  margin-bottom: 40px;
}

.global-header {
  display: block;
  background-color: var(--clr-primary);
  width: 100vw;
  text-align: center;
  padding: 10px;
  max-height: 360px;
}

.global-header img {
  height: auto;
  max-width: 250px;
  position: absolute;
  top: 20px;
  left: 45%;
  right: 45%;
}

.global-header a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 280px;
  text-align: center;
  width: 100vw;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.navigation {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333;
}

.cta-button {
  background-color: #333;
  color: #FFF;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: var(--clr-primary);
  padding: 10px;
}

.nav-links a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 8px;
}

section {
  padding: 20px;
}

.main-content {
  margin-bottom: 50px;
}

footer {
  background-color: #333;
  color: #FFF;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.portfolioCard {
  width: 26rem;
  margin-bottom:  8px;
}

form {
  border: 1px solid black;
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

form label {
  display: block;
  width: 100%;
}

form label input,
form label select {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  padding: 3px;
}

form button {
  display: block;
  width: 95%;
}

#headerBG {
  width: 100vw;
  height: 345px;
  background-color: black;
} 